$color-1: 	#ffffff;
$color-2: 	#d3d3d3;
$color-3: 	#f8fcff;
$color-4:		#b4b4b4;
$color-5: 	#3dba7b;
$color-6: 	#1d4622;
$color-7: 	#04b35b;
$color-8: 	#1da667;
$color-9: 	#43ac77;
$color-10: 	#efefef;
$color-11: 	#888888;
$color-12: 	#147a46;
