$color-1: 	#000000;
$color-2: 	#ffffff;
$color-3: 	#e5c24a;
$color-4:		#979797;
$color-5: 	#775c0a;
$color-6: 	#b8bfc5;
$color-7: 	#453702;
$color-8: 	#413404;
$color-9: 	#c6a541;
$color-10: 	#2cbc76;
$color-11: 	#919191;
$color-12: 	#bdc4c9;
$color-13: 	#aeaeae;
$color-14: 	#393939;
$color-15: 	#5a5959;
$color-16: 	#231f20;
$color-17: 	#e0e9ef;
$color-18: 	#28c77a;