@import 'destyle';

//libs
@import '../libs/fancybox/jquery.fancybox.min.css';

//separate files
@import 'fonts';
@import 'variables';
@import 'mixins';
@import 'animate-custom';
@import 'temp-selectors';
@import 'popup';
@import 'loader';
@import 'blind';


//Start
html,
body {
  min-height: 100%;
  height: 100%;
}

body {
  min-width: 300px;

  &.full-height {
    height: 100%;
  }
}

#page {
  background: url('../img/bg_page.png') repeat;
  min-height: 100%;
  overflow: hidden;
  position: relative;
  z-index: 500;
  padding: 25px 0 45px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include for-tablet-portrait-up {
    padding: 15px 0 30px 0;
  }
}

.container {
  margin: 0 auto;
  max-width: (1170px + (15 * 2));
  padding: 0 15px;
}





.header {
  position: relative;
  z-index: 500;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .about {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo {
    &__link {
      display: block;
      width: 120px;
      height: 50px;
      background: url('../img/bg_logo.png') no-repeat center center / contain;

      @include for-tablet-portrait-up {
        width: 75px;
        height: 30px;
      }
    }
  }

  .author {
    margin-left: 20px;
    &__text {
      @include font-primary(14px, $color-11, 400, 17px);

      @include for-tablet-portrait-up {
        @include font-primary(11px, $color-11, 400, 11px);
      }
    }
  }

  .communication {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @include for-tablet-portrait-up {
      display: none;
      width: 210px;
      position: fixed;
      top: 0;
      right: 0;
      background-color: $color-2;
      border-radius: 0 0 0 10px;
      box-shadow: -6px 6px 18px rgba($color-1, 0.3);
      padding: 60px 20px 35px 35px;
    }
  }

  .phone {
    &__link {
      display: block;
      @include font-primary(19px, $color-16, 500);
      transition: all 0.3s;

      @include for-tablet-portrait-up {
        border-bottom: 2px solid rgba($color-4, 0.2);
      }
    }
  }

  .messenger {
    margin-top: 10px;
    display: flex;
    align-items: center;

    @include for-tablet-portrait-up {
      flex-direction: column;
      align-items: flex-end;
    }

    &__item {
      @include font-primary(12px, $color-4, 400);
      display: flex;

      &::after {
        content: '/';
        margin: 0 5px;
      }

      &:last-child {
        &::after {
          display: none;
        }
      }

      @include for-tablet-portrait-up {
        &::after {
          display: none;
        }
      }
    }

    &__link {
      display: block;
      padding-bottom: 2px;
      border-bottom: 1px solid rgba($color-4, 0.2);
      @include font-primary(13px, $color-4, 400);
      transition: all 0.3s;

      &:hover {
        border-bottom: 1px solid transparent;
        @include font-primary(13px, $color-1, 400);
      }

      @include for-tablet-portrait-up {
        margin-top: 10px;
      }
    }

    &__button {
      @extend .messenger__link;
    }
  }

  .hamburger {
    display: none;
    cursor: pointer;

    @include for-tablet-portrait-up {
      display: block;
    }

    &__box {
      position: relative;
      width: 20px;
      height: 15px;
    }

    &__inner {
      position: absolute;
      width: 20px;
      height: 3px;
      border-radius: 4px;
      background-color: $color-1;
      transition: all 0.15s ease;

      &::before,
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 6px;
        width: 13px;
        height: 3px;
        border-radius: 4px;
        background-color: $color-1;
        transition: all 0.15s ease;
      }

      &::after {
        top: 12px;
        width: 17px;
      }
    }

    &.is-active {
      .hamburger__inner {
        background-color: $color-13;
        transform: translate3d(0, 10px, 0) rotate(45deg);

        &::before, &::after {
          background-color: $color-13;
          width: 15px;
        }

        &::before {
          opacity: 0;
        }

        &::after {
          width: 20px;
          transform: translate3d(0, -12px, 0) rotate(-90deg);
        }
      }
    }
  }
}


.main {
  &__container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    @include for-desktop-up {
      flex-direction: column;
      justify-content: center;
    }
  }
}

.info {
  padding-left: 85px;
  position: relative;

  @include for-desktop-up {
    padding: 0;
  }

  .heading {

    @include for-tablet-portrait-up {
      margin-top: 25px;
    }

    &__title {
      @include font-primary(48px, $color-1, 900, 60px);
      text-transform: uppercase;
      max-width: 635px;

      @include for-desktop-up {
        text-align: center;
        @include font-primary(42px, $color-1, 900, 52px);
      }

      @include for-tablet-portrait-up {
        @include font-primary(22px, $color-1, 900, 28px);
      }

      &_rotated {
        @include font-primary(12px, rgba($color-4, 0.5), 700, 18px);
        letter-spacing: 1.5px;
        max-width: 190px;
        position: absolute;
        top: 100px;
        left: 15px;
        transform: rotate(270deg) translate(-50%, -50%);
        transform-origin: 0 0;

        @include for-desktop-up {
          max-width: none;
          position: static;
          transform: none;
          @include font-primary(10px, rgba($color-4, 0.5), 700, 18px);
        }

        @include for-tablet-portrait-up {
          letter-spacing: normal;
        }
      }
    }

    @include for-desktop-up {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .content {
    padding-left: 40px;

    @include for-desktop-up {
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .description {
    margin-top: 22px;

    @include for-tablet-portrait-up {
      margin-top: 15px;
    }

    &__text {
      @include font-secondary(23px, rgba($color-1, 0.85), 400, 30px);

      @include for-desktop-up {
        text-align: center;
        @include font-secondary(20px, rgba($color-1, 0.85), 400, 26px);
      }

      @include for-tablet-portrait-up {
        @include font-primary(17px, rgba($color-1, 0.85), 400, 22px);
      }

      &_break {
        display: block;

        @include for-tablet-portrait-up {
          display: inline;
        }
      }
    }
  }

  .cost {
    margin-top: 50px;

    &__button {
      @extend %primary_button;
      display: block;
      width: 375px;
      background: url('../img/bg_button-noise.png') repeat;
      border-radius: 10px;
      padding: 5px;
      box-shadow: 0 4px 0 0 $color-9, 0px 15px 10px -15px $color-5;
      transition: all 0.3s;

      &:hover {
        box-shadow: 0 1px 0 0 $color-9, 0px 3px 2px -3px $color-5;
        transform: translateY(3px);
      }

      @include for-tablet-portrait-up {
        width: 285px;
        padding: 0 5px;
      }
    }

    &__text {
      display: block;
      padding: 26px 40px;
      background: url('../img/bg_button-noise.png') repeat;
      border: 1px solid rgba($color-2, 0.32);
      border-radius: 10px;
      box-shadow: 0 0 0 1px rgba($color-8, 0.15);
      @include font-primary(15px, $color-7, 700);
      text-transform: uppercase;

      @include for-tablet-portrait-up {
        padding: 15px 25px;
        @include font-primary(12px, $color-7, 700);
      }
    }
  }
}




.works {
  position: absolute;
  top: 25px;
  right: -50px;
  width: 100%;
  max-width: 465px;
  height: 255px;
  background: url('../img/bg_examples.png') no-repeat center center / cover;

  display: flex;
  justify-content: center;
  align-items: center;

  @include for-desktop-up {
    position: static;
    margin-top: 85px;
  }

  @include for-tablet-portrait-up {
    max-width: 250px;
    height: 140px;
    margin-top: 55px;
  }

  &::before,
  &::after {
    content: '';
    display: block;
    position: absolute;
    border-width: 1px;
    border-style: dotted;
    border-radius: 50%;
    z-index: -1;
  }

  &::before {
    width: 625px;
    height: 625px;
    border-color: rgba($color-1, 0.2);
    animation: scale 4.5s linear 0s infinite;

    @include for-tablet-portrait-up {
      width: 335px;
      height: 335px;
    }
  }

  &::after {
    width: 435px;
    height: 435px;
    border-color: rgba($color-1, 0.2);
    animation: scale 4.5s linear 0s infinite;

    @include for-tablet-portrait-up {
      width: 235px;
      height: 235px;
    }
  }

  &__button {
    display: block;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-color: rgba($color-18, 0.9);
    transition: all 0.3s;
    position: relative;
    background: url('../img/bg_works.png') no-repeat center center / auto rgba($color-18, 0.9);

    @include for-tablet-portrait-up {
      width: 70px;
      height: 70px;
      background: url('../img/bg_works.png') no-repeat center center / 25px 20px rgba($color-18, 0.9);
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: block;
      width: 277px;
      height: 277px;
      border-radius: 50%;
      background-color: rgba($color-10, 0.07);
      pointer-events: none;

      @include for-tablet-portrait-up {
        width: 150px;
        height: 150px;
      }
    }

    &:hover {
      transform: scale(1.07);
    }
  }

  @keyframes scale {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.95);
    }
    100% {
      transform: scale(1);
    }
  }
}



.footer {
  position: relative;
  z-index: 500;

  &__container {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include for-tablet-portrait-up {
      flex-direction: column;
    }
  }

  .privacy {
    width: 100%;
    max-width: 370px;

    @include for-tablet-portrait-up {
      order: 2;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 200px;
    }

    .heading {

      @include for-tablet-portrait-up {
        order: 2;
        margin-top: 10px;
      }

      &__link {
        display: inline-flex;
        @include font-primary(12px, $color-4, 400);
        border-bottom: 1px solid rgba($color-4, 0.2);
        transition: all 0.3s;

        &:hover {
          border-bottom: 1px solid transparent;
        }
      }
    }

    .content {
      display: flex;
      justify-content: space-between;

      @include for-tablet-portrait-up {
        order: 1;
        flex-direction: column;
        margin-top: 25px;
      }

      &__text {
        @include font-primary(12px, $color-4, 400, 20px);

        @include for-tablet-portrait-up {
          order: 1;
          text-align: center;
        }
      }
    }
  }

  .social {
    width: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include for-tablet-portrait-up {
      order: 1;
    }

    &__link {
      display: block;
      width: 20px;
      height: 20px;
      @include font-primary(12px, $color-4, 400);
      transition: color 0.3s;

      &:hover {
        color: $color-1;
      }

      &_insta {
        width: 16px;
        height: 16px;
      }
    }

    &__svg {
      fill: currentColor;
    }
  }
}
