div.popup-overlay.js-popupOverlay
	div.popup.js-popupContent
		div.order
			header.heading
				h2.heading__title Закажите обратный звонок
				h3.heading__subtitle перезвоню в течении 15 минут
			form.form(action="#")
				div.form__group
					input(type="tel" required placeholder="Введите номер в любом формате").form__input
				div.form__group
					button(type="submit").form__button
						span.form__text Заказать обратный звонок
				div.content
					p.content__text Нажимаю на кнопку вы даете согласие на обработку персональных данных
		div.close
			button.close__button.js-closeButton